*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


#header{
    width: 100vw;
    height: 40%;
    
}

#bmiform{
    margin-left: 20px;
    width:40%;
    height: 40%;
    float: left;
}

#second{
    margin-left: 50%;
    width: 60%;
    height: 40%;
    margin-top: -7%;
    
}
h1{
    font-size: 40px;
}

p{
    font-size:30px ;
    margin-bottom: 10px;

}

input{
    width:50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
button{
    width: 30%;
    padding: 12px 40px;
    margin: 8px 0;
    box-sizing: border-box;
    color: white;
    background: green;
    border: 0;
    font-size: 25px;
}

#gauge{
    position: absolute;
    margin-bottom: 50%;
    margin-left: 16.3%;
    height: 25%;
    width:20%;
    position:absolute;
    display: flex;
   
    margin-top: -200px;
    margin-left: 120px;
    width:300px;
    height: 350px;
   
    
    
    
    
}